{% extends "layout.html" %}

{% block title %}
	buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text" onkeyup="this.value = this.value.toUpperCase();">
            <input type="number" name="shares" placeholder="how many shares">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
